table,
th,
td {
	border: 2px solid black;
	width: fit-content;
}

th,
td {
	width: 10rem;
}
.pagination {
	margin: 15px auto;
	display: flex;
	list-style: none;
	outline: none;
}
.pagination > .active > a {
	background-color: #47ccde;
	border-color: #47ccde;
	color: #fff;
}
.pagination > li > a {
	border: 1px solid #47ccde;
	padding: 5px 10px;
	outline: none;
	cursor: pointer;
}
